@model a1_hotel.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price_per_night)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price_per_night)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bookings)
        </dt>

        <dd>
            @for (var i = 0; i < Model.Bookings.Count; i++)
            {
                <p>ID:  @Html.DisplayFor(model => model.Bookings.ElementAt(i).ID) --
                Data de Entrada: @Html.DisplayFor(model => model.Bookings.ElementAt(i).EntryDate) --
                Data de Saída: @Html.DisplayFor(model => model.Bookings.ElementAt(i).DepartureDate) </p>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
